@import url("source/ui/components.css");
@import url("source/ui/pause-menu.css");

@font-face {
    font-family: 'Pricedown';
    font-weight: 900;
    src: url('assets/Pricedown Bl.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto.ttf');
}

:root {
    overscroll-behavior: none;
    overflow-x: hidden;
}

button {
    padding-inline: 0;
    outline: none;
    border: none;
    padding: 0;
    padding-block: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: static;
    background-image: url("backgrounds/cropduster.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: -1;
}

#titleBanner {
    pointer-events: none;
    user-select: none;
    width: min(30rem, 95vw);
    max-width: 1028px;
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mainContent .ui-el:not(:hover) {
    background-color: rgba(var(--ui-primary-color), 0.4);
}

#contentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}
@media (min-width: 800px) and (min-height: 800px) {
    #contentBody { margin: 4rem 0; }
}

#dashboard {
    display: flex;
    gap: var(--ui-item-gap);
}

#volumeControl {
    display: flex;
    align-items: center;
    gap: var(--ui-item-gap)
}
#volumeControl .icon {
    flex-shrink: 0;
}
#volumeControl .slider-input {
    width: 80px;
}

#stationList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(0.45rem, 2vw);
    width: calc(100vw - 0.8rem);
}
#stationList label {
    transform-style: preserve-3d;
    cursor: pointer;
}
#stationList label input:checked + .ui-el {
    outline: 0.35rem solid rgb(var(--ui-accent-color));
}
#stationList .ui-el {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 8%;
    height: min(22vw, 100px);
    width: auto;
    aspect-ratio: 1/1;

    border-radius: 100%;
}
#stationList .ui-el img {
    overflow: visible;
    user-select: none;
    pointer-events: none;

    display: flex;
    background: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 8px rgba(var(--ui-secondary-color), 0.6));
}